$deep-navy:#1E2642;
$red:#EF3B48;
$teal:#54AF9E;
$gold:#F7C884;
$purple:#5353B4;
$clay:#D06F46;
$green:#739563;
$lavender:#ABBBFA;
$blue: #318CE7;
$light-gray: #F8F8F8;
$gray:#79797E;
$dark-gray: #282828;
$white: #FFFFFF;
$black: #000000;
