@mixin breakpoint($val) {
	// Size or keyword
	$bp: nth($val, 1);

	// Direction of media query (up, down, or only)
	$dir: if(length($val) > 1, nth($val, 2), up);

	$media-query: "";

	$small: map-get($grid-breakpoints, sm);
	$medium: map-get($grid-breakpoints, md);
	$large: map-get($grid-breakpoints, lg);
	$xlarge: map-get($grid-breakpoints, xlg);
	$xxlage: map-get($grid-breakpoints, xxlg);

	@if $dir == "only"{
		@if $breakpoint == 'xs' {
			$media-query: '(max-width: #{$small})';
		}
		@else if $breakpoint == 'sm' {
			$media-query: '(min-width: #{$small}) and (max-width: #{$medium})';
		}
		@else if $breakpoint == 'md' {
			$media-query: '(min-width: #{$medium}) and (max-width: #{$large})';
		}
		@else if $breakpoint == 'lg' {
			$media-query: '(min-width: #{$large}) and (max-width: #{$xlarge})';
		}
		@else if $breakpoint == 'xlg' {
			$media-query: '(min-width: #{$xlarge}) and (max-width: #{$xxlarge})';
		}
		@else if $breakpoint == 'xxlg' {
			$media-query: '(min-width: #{$xxlarge})';
		}
	}
	@else if $dir == "down"{
		$media-query: '(max-width: #{map-get($grid-breakpoints, $bp)})';
	}
	@else if $dir == "up"{
		$media-query: '(min-width: #{map-get($grid-breakpoints, $bp)})';
	}

	@if not (map-has-key($grid-breakpoints, $bp)){
		@if $dir == "down"{
			$media-query: '(max-width: #{$bp})';
		}
		@else if $dir == "up"{
			$media-query: '(min-width: #{$bp})';
		}
	}

	@media #{$media-query} {
		@content;
	}
}

@mixin fr-page-builder-padding-top-bottom{
    padding: $page-builder-row-vertical-padding 0;

    @include breakpoint(md down){
        padding: $page-builder-row-vertical-padding-mobile 0;
    }
}

@mixin arrow-svg{
	background-image: url("data:image/svg+xml,%3Csvg width='35' height='12' viewBox='0 0 35 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.44226 5.25C1.02805 5.25 0.692261 5.58579 0.692261 6C0.692261 6.41421 1.02805 6.75 1.44226 6.75V5.25ZM34.0881 6.53033C34.3809 6.23744 34.3809 5.76256 34.0881 5.46967L29.3151 0.696699C29.0222 0.403806 28.5473 0.403806 28.2544 0.696699C27.9615 0.989592 27.9615 1.46447 28.2544 1.75736L32.4971 6L28.2544 10.2426C27.9615 10.5355 27.9615 11.0104 28.2544 11.3033C28.5473 11.5962 29.0222 11.5962 29.3151 11.3033L34.0881 6.53033ZM1.44226 6.75H33.5577V5.25H1.44226V6.75Z' fill='%23000'/%3E%3C/svg%3E%0A");
}

@mixin arrow-svg--red{
	background-image: url("data:image/svg+xml,%3Csvg width='35' height='12' viewBox='0 0 35 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.44226 5.25C1.02805 5.25 0.692261 5.58579 0.692261 6C0.692261 6.41421 1.02805 6.75 1.44226 6.75V5.25ZM34.0881 6.53033C34.3809 6.23744 34.3809 5.76256 34.0881 5.46967L29.3151 0.696699C29.0222 0.403806 28.5473 0.403806 28.2544 0.696699C27.9615 0.989592 27.9615 1.46447 28.2544 1.75736L32.4971 6L28.2544 10.2426C27.9615 10.5355 27.9615 11.0104 28.2544 11.3033C28.5473 11.5962 29.0222 11.5962 29.3151 11.3033L34.0881 6.53033ZM1.44226 6.75H33.5577V5.25H1.44226V6.75Z' fill='%23EF3B48'/%3E%3C/svg%3E%0A");
}

@mixin arrow-svg--deep-navy{
	background-image: url("data:image/svg+xml,%3Csvg width='35' height='12' viewBox='0 0 35 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.44226 5.25C1.02805 5.25 0.692261 5.58579 0.692261 6C0.692261 6.41421 1.02805 6.75 1.44226 6.75V5.25ZM34.0881 6.53033C34.3809 6.23744 34.3809 5.76256 34.0881 5.46967L29.3151 0.696699C29.0222 0.403806 28.5473 0.403806 28.2544 0.696699C27.9615 0.989592 27.9615 1.46447 28.2544 1.75736L32.4971 6L28.2544 10.2426C27.9615 10.5355 27.9615 11.0104 28.2544 11.3033C28.5473 11.5962 29.0222 11.5962 29.3151 11.3033L34.0881 6.53033ZM1.44226 6.75H33.5577V5.25H1.44226V6.75Z' fill='%231E2642'/%3E%3C/svg%3E%0A");
}

@mixin arrow-svg--white{
	background-image: url("data:image/svg+xml,%3Csvg width='35' height='12' viewBox='0 0 35 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.44226 5.25C1.02805 5.25 0.692261 5.58579 0.692261 6C0.692261 6.41421 1.02805 6.75 1.44226 6.75V5.25ZM34.0881 6.53033C34.3809 6.23744 34.3809 5.76256 34.0881 5.46967L29.3151 0.696699C29.0222 0.403806 28.5473 0.403806 28.2544 0.696699C27.9615 0.989592 27.9615 1.46447 28.2544 1.75736L32.4971 6L28.2544 10.2426C27.9615 10.5355 27.9615 11.0104 28.2544 11.3033C28.5473 11.5962 29.0222 11.5962 29.3151 11.3033L34.0881 6.53033ZM1.44226 6.75H33.5577V5.25H1.44226V6.75Z' fill='%23FFF'/%3E%3C/svg%3E%0A");
}

@mixin chevron-svg{
	background-image: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.8012 0.145342L10.7303 4.97012C10.93 5.16262 10.93 5.47389 10.7303 5.66639L10.4286 5.95719C10.2289 6.14969 9.90592 6.14969 9.70621 5.95719L5.44002 1.76725L1.17384 5.95309C0.974127 6.14559 0.651188 6.14559 0.451476 5.95309L0.149784 5.6623C-0.049928 5.4698 -0.049928 5.15852 0.149784 4.96602L5.07884 0.141246C5.27855 -0.0471577 5.60149 -0.0471577 5.8012 0.145342Z' fill='%23000'/%3E%3C/svg%3E");
}

@mixin plus-svg{
	background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.01989 12.8656C5.06806 12.8656 4.29645 12.094 4.29645 11.1421V2.44414C4.29645 1.49231 5.06806 0.720703 6.01989 0.720703V0.720703C6.97172 0.720703 7.74333 1.49231 7.74333 2.44414V11.1421C7.74333 12.094 6.97172 12.8656 6.01989 12.8656V12.8656ZM1.56942 8.37463C0.702651 8.37463 0 7.67197 0 6.80521V6.80521C0 5.93844 0.702652 5.23579 1.56942 5.23579H10.4946C11.3614 5.23579 12.0641 5.93844 12.0641 6.80521V6.80521C12.0641 7.67197 11.3614 8.37463 10.4946 8.37463H1.56942Z' fill='%23EF3B48'/%3E%3C/svg%3E");
}

@mixin minus-svg{
	background-image: url("data:image/svg+xml,%3Csvg width='14' height='4' viewBox='0 0 14 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.75 3.79297C0.783503 3.79297 0 3.00947 0 2.04297C0 1.07647 0.783502 0.292969 1.75 0.292969H11.558C12.5245 0.292969 13.308 1.07647 13.308 2.04297C13.308 3.00947 12.5245 3.79297 11.558 3.79297H1.75Z' fill='%23EF3B48'/%3E%3C/svg%3E");
}

@mixin plus-svg-white{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='13' viewBox='0 0 12 13' fill='none'%3E%3Cpath d='M5.98793 12.6302C5.04115 12.6302 4.27364 11.8627 4.27364 10.9159V2.19964C4.27364 1.25286 5.04115 0.485352 5.98793 0.485352C6.9347 0.485352 7.70221 1.25286 7.70221 2.19964V10.9159C7.70221 11.8627 6.9347 12.6302 5.98793 12.6302ZM1.56942 8.13927C0.702652 8.13927 0 7.43662 0 6.56986C0 5.70309 0.702652 5.00044 1.56942 5.00044H10.4306C11.2973 5.00044 12 5.70309 12 6.56986C12 7.43662 11.2973 8.13927 10.4306 8.13927H1.56942Z' fill='white'/%3E%3C/svg%3E");
}

@mixin svg-play-btn{
	background-image: url("data:image/svg+xml,%3Csvg width='108' height='108' viewBox='0 0 108 108' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_1337_6655)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M54 100C81.6142 100 104 77.6142 104 50C104 22.3858 81.6142 0 54 0C26.3858 0 4 22.3858 4 50C4 77.6142 26.3858 100 54 100ZM84.5 52.598C86.5 51.4433 86.5 48.5566 84.5 47.4019L41 22.2871C39 21.1324 36.5 22.5758 36.5 24.8852L36.5 75.1147C36.5 77.4241 39 78.8675 41 77.7128L84.5 52.598Z' fill='%23EF3B48'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_1337_6655' x='0' y='0' width='108' height='108' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1337_6655'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1337_6655' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
}
