#app-sizer{
    display: none;
    &::before{
        content: '';
        @each $bpname, $bpvalue in $grid-breakpoints{
            @include breakpoint($bpname up){
                content: '#{$bpname}';
            }
        }
    }
}

.ellip {
    display: block;
    height: 100%;
}
  
.ellip-line {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 100%;
}
  
.ellip,
.ellip-line {
    position: relative;
    overflow: hidden;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    float: left;
    margin: 0.5em 1em 0.5em 0;
}

.alignright {
    float: right;
    margin: 0.5em 0 0.5em 1em;
}

.responsive-image-module{
    picture{
        display: block;
    }
    
    .fr-responsive-image{
        width: 100%;
        max-width: 100%;
    }
}

.hide-on-mobile{
    @include breakpoint(lg down){
        display: none !important;
    }
}

.hide-on-desktop{
    @include breakpoint(lg up){
        display: none !important;
    }
}

body:not(.wp-admin){
    main#main{
        position: relative;
    }
}

.fr-container-{
    @for $i from 1 through 100 {
        &-max-#{$i}{
            max-width: calc(map-get($container-max-widths, "xxl") * (#{$i} / 100));
        }
    }
}

.circle-decoration-container{
    position: absolute;
    top: 0;
    width: 100%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    max-width: calc(map-get($container-max-widths, "xxl") - 1.5rem);

    @include breakpoint(map-get($container-max-widths, "xxl") down){
        left: 0;
        transform: translateX(0);
    }

    .circle-decoration-inner{
        position: relative;
        width: 100%;
        height: 100%;
    }
}

.aascu-red{
    color: $red;
}