$button-border-radius: 50px;
$header-footer-container-max-width:1154px;
$page-builder-container-max-width:1154px;
$page-builder-row-vertical-padding: 100px;
$page-builder-row-vertical-padding-mobile: 50px;
$spacing-between-modules:42px;
$project-card-width:399px;
$value-cards-gap:22px;
$timeline-dot-width:29px;
$timeline-card-spacing--mobile: 55px;
$color-swatch-column-gap: 20px;
$program-badge-vertical-padding:5px;
$program-badge-horizontal-padding:10.42px;